/* Reset and basic styles */
@charset "UTF-8";
body {
    background-color: black;
    color: white;
    font-family: futura, helvetica;
    margin: 0;
    padding: 0;
}

/* Header and navigation */
nav {
    background-color: black;
    padding: 30px;
    font-family: futura;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlogo {
    text-align: center;
}

.navlogo img {
    max-height: 40px;
    display: block;
    margin: 0 auto; /* Center the logo */
}

.navlink {
    display: flex;
    gap: 10px;
    list-style: none;
}

.navlink a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    padding: 14px;
}

.navlink a:hover {
    background-color: #ddd;
    color: black;
}

.zoom {
    padding: 10px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2);
}

.floatright {
    float: right;
}


/* Mobile styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .navlink {
        flex-direction: column;
    }
	.navlogo {
		padding-bottom: 20px;
	}
	
	footer {
    background-color: black;
    padding: 30px;
    overflow: hidden;
    font-family: futura;
	display: block;
	text-align: center;
   
}
	
	.navlink a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; /* Adjust the padding as needed */
    text-decoration: none;
    font-size: 17px;
    display: block; /* Make the anchor a block-level element */
}
	
	.footerlink a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; /* Adjust the padding as needed */
    text-decoration: none;
    font-size: 17px;
    
}
	
}

/* Desktop styles */
@media (min-width: 769px) {
    .navlink {
        list-style: none;
        margin: 0;
        float: right;
    }

    .navlink li {
        display: block;
        margin-right: 10px;
    }

    .navlink li:last-child {
        margin-right: 0;
    }
	
	footer {
    background-color: black;
    padding: 30px;
    overflow: hidden;
    font-family: futura;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}

/* Background image and content wrapper */
.bg {
    background-image: url("images/doorcity.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    margin-bottom: -16px;
}

.wrapper {
    background-color: hsla(0, 0%, 0%, 0.66);
    background-size: cover;
    padding: 50px;
    margin: 0 auto;
    flex: 1;
}

/* Other styles for your content sections */
.block {
    height: auto;
    margin-bottom: 20px;
    clear: both;
    overflow: auto;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Footer */
footer {
    background-color: black;
    padding: 30px;
    overflow: hidden;
    font-family: futura;
   
}

.footerlink {
    color: white;
    
}

.footerlink a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


